:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #20232A;
  --color-bg-base: #282C34;
  --color-bg-surface: #30353E;
  --color-bg-highlight: #383E49;
  --color-fg-shade: #8691A2;
  --color-fg-base: #B0B7C2;
  --color-fg-surface: #DADDE2;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #14161A;
  --color-primary-base: #282C34;
  --color-primary-fg: #3C424E;
  --color-secondary-bg: #808080;
  --color-secondary-base: #FFFFFF;
  --color-secondary-fg: #FFFFFF;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: JetBrains Mono;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1400px;
  --surface-shadow: 0px 0px 0px #14161A;
  --surface-borderRadius: 12px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
